# Build artifacts
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.rsuser
*.sln.ide
*.sln.docstates

# Visual Studio specific
.vs/

# Logs
*.log
*.tlog

# Build system files
*.db
*.opendb
*.VC.db

# NuGet packages
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Rider specific
.idea/
*.sln.iml

# VS Code specific
.vscode/
.vscode/*

# System-specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Temporary files
~$*
*.tmp
*.temp
*.cache
*.futdcache.v2
*.dtbcache.v2
*.vsidx

# Test files
*.testlog
testlog.manifest

# Backup files
*.bak
*.backup
